{extend name="index/index" /}
{block name="content"}
<section class="content">
	<div class="row">
		<div class="col-md-12">
	<div class="box box-info">
		<div class="box-header with-border">
			<h3 class="box-title">表单信息填写</h3>
		</div>
		<!-- /.box-header -->
		<!-- 错误信息 -->
		<div class="row">
			<label for="name" class="col-sm-2 control-label"></label>
			<div class="col-sm-6">
				{include file="common/contentError" /}
			</div>
		</div>
		<!-- form start -->
		<form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
			<input type="hidden" name="id" value="{$Think.session.data.id?$Think.session.data.id:
						       $data['id']}">
			{:token()}
			<div class="box-body">
				{volist name='list' id='vo' key='key'}
				{assign name="etype" value="$key" /}
				<div class="form-group">
					<label for="" class="col-sm-2 control-label">
						{$vo['name']}
						<input type="hidden" value="{$vo['name']}" name="menu_title[]">
						<input type="hidden" value="{$vo['value']}" name="controller[]">
						<input type="hidden" value="{$vo['icon']}" name="icon[]">
					</label>
					{volist name="vo['action_list']" id='child'}
					<label class="checkbox-inline">
						<input type="checkbox" class="" {if condition="$child['is_on'] eq 1"}checked{/if}
						       name="action_detail[{$etype-1}][]" value="{$child['action']}"
						       id="">{$child['name']}
					</label>
					{/volist}
				</div>
				{/volist}
			</div>
			<!-- /.box-body -->
			<div class="box-footer">
				<div class="col-sm-3">
					<a type="button" href="javascript:history.go(-1)" class="btn btn-default pull-right">返回</a>
				</div>
				<div class="col-sm-3">
					<button type="submit" class="btn btn-info pull-right">提交</button>
				</div>
			</div>
			<!-- /.box-footer -->
		</form>
	</div>
</div>
	</div>
</section>
{/block}