{extend name="index/index" /}
{block name="content"}
<!-- Main content -->
<section class="content">
	<div class="error-page">
		<h2 class="headline text-green">200</h2>
		<div class="error-content">
			<h3><i class="fa fa-warning text-yellow"></i> <?php echo(strip_tags($msg));?></h3>
			<p>
				操作已经执行成功，页面自动跳转中，如不想等待可点击下方跳转<br>
				进行下一步操作
			</p>
		</div>
		<!-- /.error-content -->
	</div>
	<div class="error-page">
		<p class="detail"></p>
		<div class="error-content">
			<p class="jump">
				页面自动 <a id="href" href="<?php echo($url);?>">跳转</a> 等待时间： <b id="wait"><?php echo($wait);?></b>
			</p>
		</div>
		<!-- /.error-content -->
	</div>
	<script type="text/javascript">
        (function(){
            var wait = document.getElementById('wait'),
                href = document.getElementById('href').href;
            var interval = setInterval(function(){
                var time = --wait.innerHTML;
                if(time <= 0) {
                    location.href = href;
                    clearInterval(interval);
                };
            }, 1000);
        })();
	</script>
	<!-- /.error-page -->
</section>
<!-- /.content -->
{/block}
