<footer class="menu-footer">
    <div class="menu-box">
        <div class="menu-footer-top">
            <ul>
                <li class="company-info">
                    <p>公司名称：天津赞普科技股份有限公司</p>
                    <p>股票代码：831405</p>
                    <p>联系电话：022-58635555</p>
                    <p>公司邮编：300384</p>
                    <p>公司地址：天津滨海高新区华苑产业区海益国际中心3层</p>
                </li>
                <li class="link-info">
                    <p>友情链接</p>
                    <div class="link-info-1">
                        <a href="">飕飕WIFI</a>&nbsp;&nbsp;
                        <a href="">天津电信</a>&nbsp;&nbsp;
                        <a href="">天津联通</a>&nbsp;&nbsp;
                        <a href="">天津广电</a>&nbsp;&nbsp;
                    </div>
                    <div class="link-info-2">
                        <a href="">华三通信</a>&nbsp;&nbsp;
                        <a href="">华为终端</a>&nbsp;&nbsp;
                        <a href="">思科中国</a>&nbsp;&nbsp;
                        <a href="">IDC公司</a>&nbsp;&nbsp;
                    </div>
                </li>
                <li class="link-action">
                    <a href="#">顶部</a>
                    <a href="#">首页</a>
                </li>
            </ul>
        </div>
        <hr/>
        <div class="menu-footer-bottom">
            <ul>
                <li>
                    <div class="code-web">
                        <img src="/images/website/1538120123.png"/>
                        <span>官网</span>
                    </div>
                    <div class="code-wx">
                        <img src="/images/website/1538120123.png"/>
                        <span>微信</span>
                    </div>
                </li>
                <li>
                    <div class="link-info-3">
                        <a href="#">网站首页</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#">在线留言</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#">企业邮箱</a>
                    </div>
                    <div class="record-code-1">
                        Copyright Right © 2003-2018 <a href="http://www.zanpu.com">www.zanpu.com</a> Powered By ZPcms Inc 津ICP备12003858号-3
                    </div>
                    <div class="record-code-2">
                        <img src="/images/website/police.png"/>
                        <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=12019202000181">
                            津公网安备 12019202000181号
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</footer>