<header class="menu-header">
    <div class="menu-box">
        <div class="logo">
            <a href="javascript:;">
                <img src="/images/website/logo.png">
            </a>
        </div>
        <nav class="menu-nav">
            <div class="menu-nav-bar">
                <ul>
                    <li>
                        <a href="">首页</a>
                    </li>
                    <li>
                        <a href="">
                            产品服务
                            <i class="icon-arrow"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            数据中心
                            <i class="icon-arrow"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">投资者园地</a>
                    </li>
                    <li>
                        <a href="">新闻中心</a>
                    </li>
                    <li>
                        <a href="">招贤纳士</a>
                    </li>
                    <li>
                        <a href="">
                            关于赞普
                            <i class="icon-arrow"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="header-tel">
            <i class="icon-tel"></i>
            <span>022-58635555</span>
        </div>
    </div>
</header>

